<!-- Word List Directive -->
<div layout="row" layout-align="center">
    <div layout="column" ng-repeat="category in categories">
        <div class="md-flex">
            <md-content>
                <h3 class="flex layout-padding">{{ category }}</h3>
                <md-list class="flex layout-padding"  ng-repeat="wrd in wordList" ng-if="wrd.category == category">
                    <md-list-item>
                        <button ng-click="addWord(wrd.word)"> {{wrd.word}} </button>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>
