<!-- Word List Directive -->
<div layout="row" layout-align="center">
    <div layout="column" ng-repeat="category in categories">
        <h3>{{ category }}</h3>
        <div class="md-flex">
            <md-content>
                <md-list flex layout-padding  ng-repeat="wrd in wordList">
                    <md-list-item ng-if="wrd.category == category">
                        <button> {{wrd.word}} </button>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>