<!-- Basic Functionality Directive -->
<div layout-align="center center" layout="row">
    <h2 ng-if="output.length == 0">Add words to possibly create something special...</h2>
    <div ng-if="output.length > 0" ng-repeat="word in output">
        <h2>&nbsp;{{word}}&nbsp;</h2>
    </div>
</div>

<div layout="row" layout-align="center center">
    <div layout="column" >
      <md-button md-no-ink ng-click="makeRandomWords()" class="md-primary">Random</md-button>
    </div>
    <div layout="column" >
      <md-button md-no-ink class="md-primary">Select Category</md-button>
    </div>
    <div layout="column" >
        <md-button md-no-ink class="md-primary" ng-click="clearOutput()">Clear</md-button>
    </div>
</div>
